.banner {
  background-image: url("https://github.com/ariel7234/2022_hexschool_frontend_week4/blob/main/app/assets/images/home-header.png?raw=true");
  background-size: cover;
  height: 100vh;
}
.banner-content {
  float: right;
  p {
    font-size: 36px;
  }
  h2 {
    font-size: 64px;
    font-weight: bold;
  }
}

.intro {
  padding: 80px 0;
  background-color: $pink;
  li {
    max-width: 24%;
    vertical-align: top;
  }
  img {
    width: 84px;
  }
  h4 {
    margin-top: 24px;
    margin-bottom: 8px;
  }
}

.kinds {
  li {
    max-width: 30%;
  }
  // img {
  //   max-width: 29%;
  // }
}
