.banner {
  background-image: url("https://github.com/ariel7234/2022_hexschool_frontend_week4/blob/main/app/assets/images/home-header.png?raw=true");
  background-size: cover;
  height: 100vh;
}
.banner-content {
  float: right;
  p {
    font-size: 36px;
  }
  h2 {
    font-size: 64px;
    font-weight: bold;
  }
}

.intro {
  padding: 80px 0;
  background-color: $pink;
  li {
    width: 25%;
    vertical-align: top;
  }
  img {
    max-width: 84px;
  }
  h4 {
    margin-top: 24px;
    margin-bottom: 8px;
  }
  @media (max-width: $mobile) {
    ul {
      display: flex;
      flex-wrap: wrap;
    }
    li {
      width: 40%;
      margin-bottom: 24px;
      // margin-right: 24px;
    }
  }
}

.kinds {
  li {
    max-width: 33%;
  }
  img {
    margin-bottom: 8px;
  }
}
.kind2 {
  padding: 80px 0;
  text-align: center;
  background-image: url("https://github.com/ariel7234/2022_hexschool_frontend_week4/blob/main/app/assets/images/index-bg.png?raw=true");
  background-size: cover;
  li {
    max-width: 50%;
  }
  p {
    padding: 8px 0;
  }
}
.suggest {
  padding: 80px 0;
  text-align: center;

  .card {
    width: 25%;
    position: relative;
  }
  .card-img {
    height: 316px;
  }
  .card-body {
    height: 205px;
  }
  .card-caption {
    position: absolute;
    bottom: 16px;
  }
}

.contact {
  padding: 80px 0;
  background-color: $pink;
  .container {
    max-width: 636px;
  }
}
