.banner {
  background-image: url("https://github.com/ariel7234/2022_hexschool_frontend_week4/blob/main/app/assets/images/home-header.png?raw=true");
  background-size: cover;
  height: 100vh;
}
.banner-content {
  float: right;
  p {
    font-size: 36px;
  }
  h2 {
    font-size: 64px;
    font-weight: bold;
  }
}

.intro {
  padding: 80px 0;
  background-color: $pink;
  li {
    max-width: 22%;
    vertical-align: top;
  }
  img {
    width: 84px;
  }
  h4 {
    margin-top: 24px;
    margin-bottom: 8px;
  }
}

.kinds {
  li {
    max-width: 30%;
  }
  img {
    margin-bottom: 8px;
  }
}
.kind2 {
  padding: 80px 0;
  text-align: center;
  background-image: url("https://github.com/ariel7234/2022_hexschool_frontend_week4/blob/main/app/assets/images/index-bg.png?raw=true");
  background-size: cover;
  .card {
    max-width: 49%;
  }
  p {
    padding: 8px 0;
  }
}
.suggest {
  padding: 80px 0;
  text-align: center;

  .card {
    max-width: 22%;
    // height: 511px;
  }
}
