.logo {
  float: left;
  margin: 15px 0;
  a {
    background-image: url("https://github.com/ariel7234/2022_hexschool_frontend_week4/blob/main/app/assets/images/logo-white.png?raw=true");
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 48.6px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
  }
}

.nav-content {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.menu {
  float: right;
  align-content: center;
  padding: 25px 0;
  li {
    float: left;
    margin-left: 64px;
  }
  a {
    display: block;
    color: #fff;
    &:hover {
      opacity: 0.8;
      text-decoration: underline;
    }
  }
}

.showMenu {
  display: none;
}

@media (max-width: 767px) {
  .menu {
    padding: 0;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    margin-top: 1px;
    position: absolute;
    z-index: 100;
    top: 80px;
    left: 0;
    right: 0;
    background: $primary;
  }
  .menu li {
    display: block;
    float: none;
    border-top: 1px solid #fff;
    padding: 1rem;
    margin: 0;
    &:hover {
      background-color: $primary-darker;
    }
  }
  .menu a {
    text-align: center;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }

  .showMenu {
    display: block;
    float: right;
    padding: 20px 0;
  }
  .menu-show .menu {
    max-height: 500px;
  }
}

.nav-primary {
  background-color: $primary;
  color: #fff;
}

.footer {
  padding-top: 60px;
  padding-bottom: 32px;
  @include pad() {
    padding-top: 48px;
    padding-bottom: 40px;
  }
  @include mobile() {
    padding-top: 24px;
    padding-bottom: 0px;
    p,
    li {
      font-size: 16px;
    }
  }
}
.footer-primary {
  background-color: $primary;
  color: #fff;
}
.footer-menu {
  @include mobile() {
    display: none;
  }
}
.footer-social {
  img {
    height: 48px;
    margin-left: 32px;
    @include pad() {
      height: 40px;
      margin-left: 16px;
    }
  }
  a:hover {
    opacity: 0.8;
  }
}
.footer-contact {
  li {
    display: flex;
    align-items: center;
  }
  a {
    margin-left: 22px;
  }
}
.footer-copyright {
  border-top: 1px solid #fff;
  padding-top: 32px;
  margin-top: 32px;
  li {
    margin-left: 48px;
    @include mobile() {
      margin-left: 0;
    }
  }
}
