.logo {
  float: left;
  a {
    // background-image: url("../assets/images/logo-white.png");
    background-image: url("https://github.com/ariel7234/2022_hexschool_frontend_week4/blob/main/app/assets/images/logo-white.png?raw=true");
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 48.6px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
  }
}
.nav {
  padding: 25px;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    align-items: center;
    li {
      margin-left: 64px;
    }
    li:hover {
      color: #fbf2f2;
      text-decoration: underline;
    }
  }
}
.nav-primary {
  background-color: $primary;
  color: #fff;
}

.footer {
  padding-top: 60px;
  padding-bottom: 32px;
}
.footer-primary {
  background-color: $primary;
  color: #fff;
}

.footer-social {
  img {
    height: 48px;
    margin-left: 32px;
  }
  a:hover {
    opacity: 0.8;
  }
}
.footer-contact {
  li {
    display: flex;
    align-items: center;
  }
  a {
    font-size: 36px;
    margin-left: 22px;
  }
}
.footer-copyright {
  li {
    margin-left: 48px;
  }
}
