.banner {
  background-image: url("https://github.com/ariel7234/2022_hexschool_frontend_week4/blob/main/app/assets/images/home-header.png?raw=true");
  background-size: cover;
  // background-position: center;
  height: 100vh;
  @include pad() {
    background-image: url("https://github.com/ariel7234/2022_hexschool_frontend_week4/blob/main/app/assets/images/home-header-sm.png?raw=true");
    height: 80vh;
  }
  @include mobile() {
    height: 50vh;
  }
}
.banner-content {
  float: right;
  p {
    font-size: 36px;
  }
  h2 {
    font-size: 64px;
    font-weight: bold;
  }
  @include mobile() {
    p {
      font-size: 16px;
    }
    h2 {
      font-size: 24px;
    }
  }
}

.intro {
  padding: 80px 0;
  background-color: $pink;
  li {
    width: 25%;
    vertical-align: top;
    margin: 0 12px;
  }
  img {
    max-width: 84px;
  }
  h4 {
    margin-top: 24px;
    margin-bottom: 8px;
  }
  @include pad() {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    li {
      width: 40%;
      margin-bottom: 24px;
      margin: 0 6px;
    }
  }
  @include mobile() {
    ul {
      display: flex;
      flex-wrap: wrap;
    }
    li {
      width: 100%;
      margin-bottom: 24px;
    }
  }
}

.kinds {
  li {
    width: 33%;
    margin: 0 12px;
  }
  img {
    margin-bottom: 8px;
  }
  @include pad() {
    ul {
      display: flex;
      flex-wrap: wrap;
    }
    li {
      width: 100%;
      margin-bottom: 24px;
    }
  }
}
.kind2 {
  padding: 80px 0;
  text-align: center;
  background-image: url("https://github.com/ariel7234/2022_hexschool_frontend_week4/blob/main/app/assets/images/index-bg.png?raw=true");
  background-size: cover;
  li {
    max-width: 50%;
  }
  a {
    display: block;
    padding: 8px 0;
  }
  @include pad() {
    ul {
      display: flex;
      flex-wrap: wrap;
    }
    li {
      max-width: 100%;
      margin-bottom: 24px;
    }
  }
  @include mobile(){
    .container
  }
}
.suggest {
  padding: 80px 0;
  text-align: center;
  li {
    width: 25%;
    margin: 0 12px;
  }
  .card {
    position: relative;
  }
  .card-img {
    height: 316px;
  }
  .card-body {
    height: 205px;
  }
  .card-caption {
    position: absolute;
    bottom: 16px;
  }
  @include pad() {
    p {
      font-size: 16px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    li {
      width: 45%;
      margin: 0 6px;
      margin-bottom: 24px;
    }
  }
  @include mobile() {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    li {
      width: 100%;
      margin-bottom: 24px;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.contact {
  padding: 80px 0;
  background-color: $pink;
  .container {
    max-width: 636px;
  }
  input,
  textarea {
    background-color: transparent;
    border: 1px solid #000;
  }
}
