body {
  font-family: "Noto Sans TC", "Roboto", sans-serif;
  line-height: 1.5;
}
img {
  object-fit: cover;
}
.outline {
  border: 1px solid #000;
}
.h1 {
  font-size: 64px;
}
.h2 {
  font-size: 48px;
  @include mobile() {
    font-size: 24px;
  }
}
.h3 {
  font-size: 24px;
}
p,
li {
  font-size: 20px;
}
.p-3 {
  padding: 12px;
}
.mr-1 {
  margin-right: 4px !important;
}
.mb-2 {
  margin-bottom: 8px !important;
}
.mb-8 {
  margin-bottom: 16px !important;
}
.mr-12 {
  margin-right: 24px !important;
}
.mb-12 {
  margin-bottom: 24px !important;
}
.mt-8 {
  margin-top: 32px !important;
}
.mb-8 {
  margin-bottom: 32px !important;
}
.pb-8 {
  padding-bottom: 32px !important;
}
.pt-12 {
  padding-top: 48px !important;
}
.mr-12 {
  margin-right: 48px !important;
}
.mb-12 {
  margin-bottom: 48px !important;
}
.pt-20 {
  padding-top: 80px !important;
}
.pb-20 {
  padding-bottom: 80px !important;
}
.mt-md-1 {
  @include pad() {
    margin-top: 4px !important;
  }
}
.mb-md-6 {
  @include pad() {
    margin-bottom: 24px !important;
  }
}
.mb-md-8 {
  @include pad() {
    margin-bottom: 32px !important;
  }
}
.mt-sm-2 {
  @include mobile() {
    margin-top: 8px !important;
  }
}
.mb-sm-6 {
  @include mobile() {
    margin-bottom: 24px !important;
  }
}
.mb-sm-8 {
  @include mobile() {
    margin-bottom: 16px !important;
  }
}
.mt-sm-8 {
  @include mobile() {
    margin-top: 16px !important;
  }
}
.material-icons {
  color: white;
  text-decoration: none;
}
.icon-6 {
  font-size: 24px;
}
.icon-9 {
  font-size: 36px;
}
.icon-10 {
  font-size: 40px;
}
.icon-12 {
  font-size: 48px;
}
.icon-md-6 {
  @include pad() {
    font-size: 24px;
  }
}
.icon-md-9 {
  @include pad() {
    font-size: 36px;
  }
}
.icon-md-10 {
  @include pad() {
    font-size: 40px;
  }
}
.icon-md-12 {
  @include pad() {
    font-size: 48px;
  }
}
.icon-sm-6 {
  @include mobile() {
    font-size: 24px;
  }
}
.icon-sm-9 {
  @include mobile() {
    font-size: 36px;
  }
}
.icon-sm-10 {
  @include mobile() {
    font-size: 40px;
  }
}
.icon-sm-12 {
  @include mobile() {
    font-size: 48px;
  }
}
.text-36 {
  font-size: 36px;
}
.text-md-16 {
  @include pad() {
    font-size: 16px;
  }
}
.text-sm-16 {
  @include mobile() {
    font-size: 16px;
  }
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.h-100 {
  height: 100%;
}
.container {
  max-width: 1296px;
  margin: 0 auto;

  @include pad() {
    max-width: 696px !important;
  }
  @include mobile() {
    max-width: 348px !important;
  }
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: column;
}
.flex-sm {
  @include mobile() {
    display: flex;
  }
}
.flex-row-sm {
  @include mobile() {
    flex-direction: column;
  }
}
.flex-reverse-sm {
  @include mobile() {
    flex-direction: row-reverse;
  }
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.justify-content-sm-end {
  @include mobile() {
    justify-content: end;
  }
}
.justify-content-sm-between {
  @include mobile() {
    justify-content: space-between;
  }
}
.justify-content-sm-center {
  @include mobile() {
    justify-content: center;
  }
}
.align-items-sm-center {
  @include mobile() {
    align-items: center;
  }
}
.input-group {
  display: flex;
  align-items: center;
}
.float-right {
  float: right;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-bold {
  font-weight: bold;
}
.text-bolder {
  font-weight: 900;
}
.text-italic {
  font-style: italic;
}
.text-primary {
  color: $primary;
}
.text-info {
  color: $brown-darker;
}
.text-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}
.hover-white {
  &:hover {
    background-color: darken(white, 5%);
  }
}
.hover-shadow {
  &:hover {
    box-shadow: 0 0.5rem 1rem rgba(black, 0.15);
    transition: 0.3s;
  }
}
.btn {
  font-size: 20px;
  padding: 6px 12px;
  display: block;
  border: 0;
  text-align: center;
}
.btn-primary {
  color: #fff;
  background-color: $primary;
  &:hover {
    background-color: darken($primary, 5%);
  }
}
.btn-lg {
  width: 416px;
  padding: 16px;
  @include mobile() {
    width: 100%;
  }
}
.center {
  margin: 0 auto;
}
.link-primary {
  color: #fff;
  &:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
}
.link-hover {
  &:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
}

.card {
  @include pad() {
    max-width: 336px;
    margin: 0 auto;
  }
}

.card-img {
  width: 100%;
  overflow: hidden;
}
.card-shadow {
  box-shadow: 0 0.5rem 1rem rgba(black, 0.15);
  transition: 0.3s;
  &:hover {
    box-shadow: 0 1rem 1.5rem rgba(black, 0.5);
    transition: 0.3s;
  }
}
.card-body {
  padding: 16px;
  height: auto;
}
.card-title {
  font-size: 16px;
  font-weight: 500;
}
.card-caption {
  font-size: 14px;
  color: #707070;
}
.form {
  label {
    margin-bottom: 8px;
  }
  input {
    margin-bottom: 16px;
    height: 33px;
  }
}
.input-group {
  input,
  label {
    margin: 0px;
  }
}
