//============ color ============
$pink: #fbf2f2;
$brown: #aa0601;
$brown-darker: #650300;

$primary: $brown;

//============ font size ============
// $lg:
$md: 20px;

// 64
// 48
// 36
// 24
// 20
// 16
